<!-- register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="/static/css/style.css"></head>
<body>

    <div class="wrapper">
        <div class="title">
           Registration Form
        </div>
        <form id="register-form">
           <div class="field">
              <input type="text" id="reg-username" required>
              <label>User_name</label>
           </div>
           <div class="field">
              <input type="email" id="reg-email" required>
              <label>Email Address</label>
           </div>
           <div class="field">
              <input type="password" id="reg-password" required>
              <label>Password</label>
           </div>
           <div class="field">
              <input type="submit" value="Register">
           </div>
           <div class="signup-link">
              Alredy a member? <a href="/login">Login now</a>
           </div>
        </form>
     </div>

    <script src="/static/js/script.js"></script></body>
</html>
